<!DOCTYPE html>

<html lang="en">

<head>
  <title>{{title}}</title>
  <link href="/css/style.css" rel="stylesheet"/>
</head>

<body>
{{>header}}

<main>
  <form>
    <input/>
    <button type="submit">submit</button>
  </form>
</main>

{{>footer}}
<script src="/js/script.js"></script>
</body>

</html>
